{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div>Javascript load tuto exemple</div>
    <div class="countdown" data-countdown="07/01/2024 07:00:00 PM">
        <div class="countdown-days">
            <span class="countdown-value">...</span>
            <span class="countdown-label text-muted">d</span>
        </div>
        <div class="countdown-hours">
            <span class="countdown-value">...</span>
            <span class="countdown-label text-muted">h</span>
        </div>
        <div class="countdown-minutes">
            <span class="countdown-value">...</span>
            <span class="countdown-label text-muted">m</span>
        </div>
        <div class="countdown-seconds">
            <span class="countdown-value">...</span>
            <span class="countdown-label text-muted">s</span>
        </div>
    </div>

    <style>
        .countdown {
            display: flex;
        }
        .countdown-label {
            margin-right: 10px;
        }
    </style>
{% endblock %}